<h1>SECRET PAGE</h1>
<img style="width:50%" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e72e9dbf-8c9a-4fe3-99bb-a43fa1563f83/d15z03c-af12c888-457b-4e08-b07a-98ed9522a12c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U3MmU5ZGJmLThjOWEtNGZlMy05OWJiLWE0M2ZhMTU2M2Y4M1wvZDE1ejAzYy1hZjEyYzg4OC00NTdiLTRlMDgtYjA3YS05OGVkOTUyMmExMmMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DaNjKvQ7NmlUOqe25QcF7yTfn5p8hRjUmiNeu8icMes" alt="isla sorna">
<a href="/logout"><button>Logout</button></a>
